/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  distinct [PersonId]
      ,replace(replace(replace(replace([ExaminationDate],'|','/'),',','|'),char(10),''),char(13),'')[ExaminationDate]
      ,replace(replace(replace(replace([IsInChildDevelopmentTracking],'|','/'),',','|'),char(10),''),char(13),'')[IsInChildDevelopmentTracking]
      ,replace(replace(replace(replace([IsThereConcernForDevelopment],'|','/'),',','|'),char(10),''),char(13),'')[IsThereConcernForDevelopment]
      ,replace(replace(replace(replace([IsThereConcernForDevelopmentDesc],'|','/'),',','|'),char(10),''),char(13),'')[IsThereConcernForDevelopmentDesc]
      ,replace(replace(replace(replace([HasSuspicionOfHearingLoss],'|','/'),',','|'),char(10),''),char(13),'')[HasSuspicionOfHearingLoss]
      ,replace(replace(replace(replace([HasSuspicionOfHearingLossDesc],'|','/'),',','|'),char(10),''),char(13),'')[HasSuspicionOfHearingLossDesc]
      ,replace(replace(replace(replace([QuestionParent_Comment],'|','/'),',','|'),char(10),''),char(13),'')[QuestionParent_Comment]
      ,replace(replace(replace(replace([CodeSummary],'|','/'),',','|'),char(10),''),char(13),'')[CodeSummary]
      ,replace(replace(replace(replace([SummaryDesc],'|','/'),',','|'),char(10),''),char(13),'')[SummaryDesc]
      ,replace(replace(replace(replace([HasReferrals],'|','/'),',','|'),char(10),''),char(13),'')[HasReferrals]
      ,replace(replace(replace(replace([Comment],'|','/'),',','|'),char(10),''),char(13),'')[Comment]
      ,replace(replace(replace(replace([עוקב במבט אחרי עצם נע-פנים],'|','/'),',','|'),char(10),''),char(13),'')[עוקב במבט אחרי עצם נע-פנים]
      ,replace(replace(replace(replace([משמיע קולות כתגובה לקולות אדם],'|','/'),',','|'),char(10),''),char(13),'')[משמיע קולות כתגובה לקולות אדם]
      ,replace(replace(replace(replace([מחייך חיוך חברתי],'|','/'),',','|'),char(10),''),char(13),'')[מחייך חיוך חברתי]
      ,replace(replace(replace(replace([מרים ראש בשכיבה על הבטן],'|','/'),',','|'),char(10),''),char(13),'')[מרים ראש בשכיבה על הבטן]
      ,replace(replace(replace(replace([משלב אצבעות, משחק בידיים],'|','/'),',','|'),char(10),''),char(13),'')[משלב אצבעות, משחק בידיים]
      ,replace(replace(replace(replace([אוחז-מושיט ידיים לחפץ],'|','/'),',','|'),char(10),''),char(13),'')[אוחז-מושיט ידיים לחפץ]
      ,replace(replace(replace(replace([עוקב במבט בקו אנכי],'|','/'),',','|'),char(10),''),char(13),'')[עוקב במבט בקו אנכי]
      ,replace(replace(replace(replace([מגיב לקולות וצלילים],'|','/'),',','|'),char(10),''),char(13),'')[מגיב לקולות וצלילים]
      ,replace(replace(replace(replace([משמיע קולות מגוונים כולל עיצורים],'|','/'),',','|'),char(10),''),char(13),'')[משמיע קולות מגוונים כולל עיצורים]
      ,replace(replace(replace(replace([מגיב בהנאה לקול ולדמות אדם],'|','/'),',','|'),char(10),''),char(13),'')[מגיב בהנאה לקול ולדמות אדם]
      ,replace(replace(replace(replace([מרים ראש  ובית חזה בשכיבה על הבטן],'|','/'),',','|'),char(10),''),char(13),'')[מרים ראש  ובית חזה בשכיבה על הבטן]
      ,replace(replace(replace(replace([מתהפך מהגב לבטן ומהבטן לגב],'|','/'),',','|'),char(10),''),char(13),'')[מתהפך מהגב לבטן ומהבטן לגב]
      ,replace(replace(replace(replace([זוחל זחילת  ציר-גחון- על 6 ],'|','/'),',','|'),char(10),''),char(13),'')[זוחל זחילת  ציר-גחון- על 6 ]
      ,replace(replace(replace(replace([מעביר חפץ מיד ליד],'|','/'),',','|'),char(10),''),char(13),'')[מעביר חפץ מיד ליד]
      ,replace(replace(replace(replace([מקיש חפץ אחד בשני כמשחק],'|','/'),',','|'),char(10),''),char(13),'')[מקיש חפץ אחד בשני כמשחק]
      ,replace(replace(replace(replace([משמיע הברות חוזרות, עיצור - תנועה],'|','/'),',','|'),char(10),''),char(13),'')[משמיע הברות חוזרות, עיצור - תנועה]
      ,replace(replace(replace(replace([מתיישב בכוחות עצמו],'|','/'),',','|'),char(10),''),char(13),'')[מתיישב בכוחות עצמו]
      ,replace(replace(replace(replace([מקים עצמו לעמידה ] ,'|','/'),',','|'),char(10),''),char(13),'')[מקים עצמו לעמידה ]
      ,replace(replace(replace(replace([תפיסת צבת],'|','/'),',','|'),char(10),''),char(13),'')[תפיסת צבת]
      ,replace(replace(replace(replace([מאכיל עצמו],'|','/'),',','|'),char(10),''),char(13),'')[מאכיל עצמו]
      ,replace(replace(replace(replace([מפיק קולות בדו שיח],'|','/'),',','|'),char(10),''),char(13),'')[מפיק קולות בדו שיח]
      ,replace(replace(replace(replace([מבין הוראות פשוטות],'|','/'),',','|'),char(10),''),char(13),'')[מבין הוראות פשוטות]
      ,replace(replace(replace(replace([מגיב לקריאה בשמו],'|','/'),',','|'),char(10),''),char(13),'')[מגיב לקריאה בשמו]
      ,replace(replace(replace(replace([אומר מילה אחת או משמיע קולות משמעותיים],'|','/'),',','|'),char(10),''),char(13),'')[אומר מילה אחת או משמיע קולות משמעותיים]
      ,replace(replace(replace(replace([מבחין בינו לבין הסביבה הקרובה ומגיב באופן שונה],'|','/'),',','|'),char(10),''),char(13),'')[מבחין בינו לבין הסביבה הקרובה ומגיב באופן שונה]
      ,replace(replace(replace(replace([הולך בעזרה],'|','/'),',','|'),char(10),''),char(13),'')[הולך בעזרה]
      ,replace(replace(replace(replace([אומר 2 - 3 מילים],'|','/'),',','|'),char(10),''),char(13),'')[אומר 2 - 3 מילים]
      ,replace(replace(replace(replace([מכיר לפחות חלק גוף אחד] ,'|','/'),',','|'),char(10),''),char(13),'')[מכיר לפחות חלק גוף אחד]
      ,replace(replace(replace(replace([מצביע על פי בקשה על חפצים מוכרים],'|','/'),',','|'),char(10),''),char(13),'')[מצביע על פי בקשה על חפצים מוכרים]
      ,replace(replace(replace(replace([מראה רצונותיו במחווה או במלל],'|','/'),',','|'),char(10),''),char(13),'')[מראה רצונותיו במחווה או במלל]
      ,replace(replace(replace(replace([יוצר קשר עין תוך כדי משחק משותף],'|','/'),',','|'),char(10),''),char(13),'')[יוצר קשר עין תוך כדי משחק משותף]
      ,replace(replace(replace(replace([הולך ללא עזרה],'|','/'),',','|'),char(10),''),char(13),'')[הולך ללא עזרה]
      ,replace(replace(replace(replace([עולה במדרגות בעזרה],'|','/'),',','|'),char(10),''),char(13),'')[עולה במדרגות בעזרה]
      ,replace(replace(replace(replace([בונה מגדל מקוביות],'|','/'),',','|'),char(10),''),char(13),'')[בונה מגדל מקוביות]
      ,replace(replace(replace(replace([מאכיל עצמו בכפית],'|','/'),',','|'),char(10),''),char(13),'')[מאכיל עצמו בכפית]
      ,replace(replace(replace(replace([אוצר מילים מעל 10 מילים],'|','/'),',','|'),char(10),''),char(13),'')[אוצר מילים מעל 10 מילים]
      ,replace(replace(replace(replace([בגיל שנתיים לפחות צירוף אחד של 2 מילים למשפט],'|','/'),',','|'),char(10),''),char(13),'')[בגיל שנתיים לפחות צירוף אחד של 2 מילים למשפט]
      ,replace(replace(replace(replace([רץ מבלי ליפול],'|','/'),',','|'),char(10),''),char(13),'')[רץ מבלי ליפול]
      ,replace(replace(replace(replace([עולה ויורד במדרגות ללא עזרה],'|','/'),',','|'),char(10),''),char(13),'')[עולה ויורד במדרגות ללא עזרה]
      ,replace(replace(replace(replace([מכווץ ומבליט שפתיים כדי לתת נשיקה],'|','/'),',','|'),char(10),''),char(13),'')[מכווץ ומבליט שפתיים כדי לתת נשיקה]
      ,replace(replace(replace(replace([מחקה קווים מאונכים, אופקיים ומעוגלים],'|','/'),',','|'),char(10),''),char(13),'')[מחקה קווים מאונכים, אופקיים ומעוגלים]
      ,replace(replace(replace(replace([כינוי בשם],'|','/'),',','|'),char(10),''),char(13),'')[כינוי בשם]
      ,replace(replace(replace(replace([הבנת פעולות וחלקי דיבור],'|','/'),',','|'),char(10),''),char(13),'')[הבנת פעולות וחלקי דיבור]
      ,replace(replace(replace(replace([עומד על רגל אחת],'|','/'),',','|'),char(10),''),char(13),'')[עומד על רגל אחת]
      ,replace(replace(replace(replace([קופץ ממדרגה],'|','/'),',','|'),char(10),''),char(13),'')[קופץ ממדרגה]
      ,replace(replace(replace(replace([נועל נעליים ומתלבש פרט לכפתור],'|','/'),',','|'),char(10),''),char(13),'')[נועל נעליים ומתלבש פרט לכפתור]
      ,replace(replace(replace(replace([מחקה דוגמת + ומעתיק עיגול],'|','/'),',','|'),char(10),''),char(13),'')[מחקה דוגמת + ומעתיק עיגול]
      ,replace(replace(replace(replace([מונה עד 3],'|','/'),',','|'),char(10),''),char(13),'')[מונה עד 3]
      ,replace(replace(replace(replace([מכיר לפחות 3 מילות יחס, כגון: על, על יד, מתחת ועוד],'|','/'),',','|'),char(10),''),char(13),'')[מכיר לפחות 3 מילות יחס, כגון: על, על יד, מתחת ועוד]
      ,replace(replace(replace(replace([הדיבור מובן],'|','/'),',','|'),char(10),''),char(13),'')[הדיבור מובן]
      ,replace(replace(replace(replace([קופץ על רגל אחת],'|','/'),',','|'),char(10),''),char(13),'')[קופץ על רגל אחת]
      ,replace(replace(replace(replace([הולך עקב בצד אגודל],'|','/'),',','|'),char(10),''),char(13),'')[הולך עקב בצד אגודל]
      ,replace(replace(replace(replace([מתלבש באופן עצמאי],'|','/'),',','|'),char(10),''),char(13),'')[מתלבש באופן עצמאי]
      ,replace(replace(replace(replace([אוכל בעזרת כף ומזלג],'|','/'),',','|'),char(10),''),char(13),'')[אוכל בעזרת כף ומזלג]
      ,replace(replace(replace(replace([מעתיק צורות גיאומטריות: רבוע, X, ומשולש],'|','/'),',','|'),char(10),''),char(13),'')[מעתיק צורות גיאומטריות: רבוע, X, ומשולש]
      ,replace(replace(replace(replace([מצייר דמות אדם],'|','/'),',','|'),char(10),''),char(13),'')[מצייר דמות אדם]
      ,replace(replace(replace(replace([משחק],'|','/'),',','|'),char(10),''),char(13),'')[משחק]
      ,replace(replace(replace(replace([מתאר תמונה תוך שימוש בפעלים בזמנים נכונים],'|','/'),',','|'),char(10),''),char(13),'')[מתאר תמונה תוך שימוש בפעלים בזמנים נכונים]
      ,replace(replace(replace(replace([עונה על שאלות התמצאות כגון : שם, גיל],'|','/'),',','|'),char(10),''),char(13),'')[עונה על שאלות התמצאות כגון : שם, גיל]
      ,replace(replace(replace(replace([הבעה חופשית],'|','/'),',','|'),char(10),''),char(13),'')[הבעה חופשית]
      ,replace(replace(replace(replace([הדיבור מכוון למטרות תקשורת],'|','/'),',','|'),char(10),''),char(13),'')[הדיבור מכוון למטרות תקשורת]
      ,replace(replace(replace(replace([משתתף בפעילויות יומיום],'|','/'),',','|'),char(10),''),char(13),'')[משתתף בפעילויות יומיום]
  FROM [BigData].[BigData].[vw_DevelopmentExamination]

  where 

[BigData].[BigData].[vw_DevelopmentExamination].[PersonId] not in 
(
--Cutting off the records with k annonimity problem
SELECT  [PersonId] from [dbo].[view_identify_k_problematic_records]
)
