SELECT distinct [PersonId]
      ,[ReferralDate]
      ,[CodeReferralRecipient]
      ,[ReferralRecipientDesc]
      ,[ReferralRecipientDetails]
      ,[ReferralReasons]
      ,[ReferralReasonDetails]
      ,[ReferralExaminations]
      ,[ReferralExaminationsDetails]
      ,replace(replace([Summary],'|','/'),',','|') [Summary]
      ,[CodeReferralStatus]
      ,[ReferralStatusDesc]
      ,[CodeIsReferralClarificationCompleted]
      ,[IsReferralClarificationCompletedDesc]
      ,replace(replace([ResultDetails],'|','/'),',','|') [ResultDetails]
  FROM [BigData].[BigData].[vw_Referrals]


 where 

[BigData].[BigData].[vw_Referrals].[PersonId] not in 
(
--Cutting off the records with k annonimity problem
SELECT  [PersonId] from [BigData].[dbo].[view_identify_k_problematic_records]
)
