
SELECT distinct [PersonId]
      ,[CodeRiskType]
       ,replace(replace(replace(replace([RiskTypeDesc],'|','/'),',','|'),char(10),''),char(13),'')  [RiskTypeDesc]
      ,[RiskTypeDetails]
      ,[CodeRiskCategory]
      ,replace(replace(replace(replace([RiskCategoryDesc],'|','/'),',','|'),char(10),''),char(13),'')   [RiskCategoryDesc]
      ,[RiskDate]
      ,replace(replace(replace(replace([Comments],'|','/'),',','|'),char(10),''),char(13),'') [Comments]
  FROM [BigData].[BigData].[vw_Risks]

  where 

[BigData].[BigData].[vw_Risks].[PersonId] not in 
(
--Cutting off the records with k annonimity problem
SELECT  [PersonId] from [BigData].[dbo].[view_identify_k_problematic_records]
)
